.search-result-index-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
  margin: 5px;
  padding: 10px;
  /* border: 1px solid #ddd; */
  background-color: #fff;
  text-align: center;
  font-size: 14px;
  width: 250px; /* Set a fixed width for each item */
  height: 450px; /* Set a fixed height for each item */
  margin: 5px;
}
  .search-result-index-item a {
    text-decoration: none;
    color: inherit;
    left: 0;
  }
  
  .search-result-index-item img {
    max-width: fit-content;
    /* max-width: 100%; */
    /* height: auto; */
    height: 350px; /* Adjust to preferred max image height */
    /* object-fit: cover; */
    /* margin-bottom: 10px; */
  }
  
  .search-result-index-item h3 {
    font-size: 16px;
    font-weight: 600;
    height: 40px; /* Set a fixed height for the product name */
    overflow: hidden; /* Hide any overflowing text */
    text-overflow: ellipsis; /* Add an ellipsis if the text overflows */
    white-space: nowrap; /* Prevent the text from wrapping */
    flex-wrap: wrap;
  }
  
  .product-category,
  .product-price {
    margin: 0;
    font-weight: 400;
  }
  
  .product-price {
    font-weight: 600;
    margin-top: 5px;
  }

  .sr-product-info {
    display: flex;
    flex-direction: column;
    align-items: flex-start;

    width: 250px
  }

  .sr-product-info h3, p {
    font-family: 'Roboto', sans-serif;
    
  }

 
  .search-results-header {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    padding: 20px;
  }