.product-scroller {
    overflow: auto;
    white-space: nowrap;
}

.product-scroller a {
    display: inline-block;
  /* color: green; */
  text-align: center;
  margin: 2px;
  /* padding: 14px; */
  text-decoration: none;
  /* border: black solid 1px; */
}

.product-scroller a:hover {
  /* background-color: #ddd; */
  color: black;
}

.product-scroller img {
    max-width: fit-content;
    height: 200px;
}

.double-blocks {
  /* border: black solid 1px; */
    display: flex;
    
}

.double-blocks a {
    /* display: inline-block; */
    /* border: red solid 1px; */
    width: 45dvw;
    height: 500px;
    text-align: center;
    padding: 14px;
    /* margin: 20px; */
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: 25px;
    
}

.double-blocks img {
    width: 100px;
    height: 100px;
    
}

.bottom-banner {
  justify-content: center;
  background-color: black;
  height: 43vh;
  width: 100%
}

.spring-banner {
  justify-content: center;
  align-items: center;
  text-align: center;
  /* height: 43vh; */
  /* width: 100% */
}

.spring-banner h1, h2, h3 {
  text-align: center;
  
} 

.spring-banner h1 {
  font-size: 14px;
  /* color: white; */
  font-family: 'Roboto', sans-serif;
}

.spring-banner h2 {
  font-size: 50px;
  /* color: white; */
  font-family: 'Nike', sans-serif;
  width: 40%;
}


.spring-banner h3 {
  font-size: 14px;
  /* color: white; */
  font-family: 'Roboto', sans-serif;
  width: 29%;
  align-items: center;
  text-align: center;
  
}

.always-iconic {
  margin: 2.2%;
}

.always-iconic h1 {
  font-size: 19px;
  font-weight: 500;
    line-height: 28px;
  font-family: 'Roboto', sans-serif;
  margin-left: 0.3%;
  margin-bottom: 1%; ;
}

.always-iconic h2 {
  font-family: 'Roboto', sans-serif;
  text-align: left;
  margin-top: 4%;
}



.alwaysiconic-images {
  /* display items in a row */
  display: flex;
  flex-direction: row;
  
}

.alwaysiconic-images img {
  /* make the images responsive */
  width: 100%;
  height: auto;
  /* add some spacing between the images */
}

.alwaysiconic-jordan {
  margin: 0.3%;
}

.alwaysiconic-airmax {
  margin: 0.3%;
}

.alwaysiconic-cortez {
  margin: 0.3%;
}