.product-scroller {
    overflow: auto;
    white-space: nowrap
}

.product-scroller a {
    display: inline-block;
  /* color: green; */
  text-align: center;
  margin: 5px;
  /* padding: 14px; */
  text-decoration: none;
  /* border: black solid 1px; */
}

.product-scroller a:hover {
  /* background-color: #ddd; */
  color: black;
}

.product-scroller img {
    max-width: fit-content;
    height: 200px;
}

.double-blocks {
  /* border: black solid 1px; */
    display: flex;
    
}

.double-blocks a {
    /* display: inline-block; */
    /* border: red solid 1px; */
    width: 45dvw;
    height: 500px;
    text-align: center;
    padding: 14px;
    /* margin: 20px; */
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: 25px;
    
}

.double-blocks img {
    width: 100px;
    height: 100px;
    
}

.bottom-banner {
  justify-content: center;
  background-color: black;
  height: 43vh;
  width: 100%
}

