/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

.input-field  {
    display: flex;
    justify-content: center;
        width: 100%;
        height: 40px;
        margin-top: 10px;
        margin-bottom: 10px;
        padding: 8px 12px;
        font-size: 16px;
        line-height: 1.5;
        color: #111;
        background-color: #f8f8f8;
        border: 1px solid #ccc;
        border-radius: 4px;
        box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.075);
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        box-sizing: border-box;
        font-family: 'Roboto', sans-serif;
        max-width: 500px;
        margin: 10% auto;
      }

.input-labels {
    display: block;
    justify-content: center;
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
}

.signup-button {
        display: flex;
        justify-content: center;
        background-color: #111;
        color: #fff;
        padding: 12px 32px;
        font-size: 18px;
        border: none;
        border-radius: 10px;
        cursor: pointer;
        text-align: center;
        text-decoration: none;
        margin: 0 auto;
        width: 300px;
        font-weight: 600;
}
      

 .form-group {
    margin-bottom: 20px;
  }
  


  #join-nike-now-header {
    font-family: 'Roboto', sans-serif;
    display: flex;
    justify-content: center;
    font: bolder;
  }

  .close-button {
    display: flex;
    float: right;
    background-color: #11111100;
    border: none;
  }

  .close-button img {
    display: flex;
    max-width: 20px;
    max-height: 20px;
  }

  .nav-bar img {
    display: flex;
    
    max-width: 100px;
  }

  #bag {
    display: flex;
    float: right;
    max-width: 50px;
  }

  #list {
    display: flex;
    float: right;
    max-width: 50px;
  }

    #search {
        display: flex;
        float: right;
        max-width: 50px;
    }

    #logo {
        display: flex;
        float: left;
        max-width: 55px;
        margin: 20px;
    }

    .splash-page {
        display: flex;
        
        width: 500px ;
        height: 500px;
        background-color: gray;
    }

    #sign-up {
        display: flex;
        float: right;
        background: transparent;
        border: none;
    }

    

    #greeting {
        display: flex;
        float: right;
        font-size: 11px;
        background: transparent;
        border: none;
    }

    #sign-up p {
        display: flex;
        float: right;
        font-size: 11px;
    }


    .modal-wrapper {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100vw;
        height: 100vh;
        background-color: rgba(128, 128, 128, 0.808);
        /* position: absolute; */
    }
    
    .form-control {
        height: 60vh;
        border: #111 solid 1px;
        border-radius: 5px;
        padding: 50px;
        padding-left: 100px;
        padding-right: 100px;
        max-width: 250px;
        background-color: white;
    }

    .modal-show {
        visibility: visible;
    }

    .modal-hide {
        visibility: hidden;
    }

    .nav-bar {
        background-color: #F5F5F5;
        height: 25px;
    }

    #seperator-bar{
      margin-left: 2px;
      margin-right: 2px;
    }
    #searchbar {
      height: 40px;
  padding: 0 12px;
  border-radius: 24px;
  border: 1px solid #d1d1d1;
  font-size: 16px;
  line-height: 48px;
  background-color: #f5f5f5;
  color: #111;
  outline: none;
  width: 100%;
  max-width: 130px;
    } 

    .second-nav-bar {
      height: 1vh;
    }

    .nav-bar button:hover {
      cursor: pointer;
    }

    .searchbar-favorite-cart {
        display: flex;
        float: right;
        justify-content: right;
        width: 100%;
        height: 25px;
        
    }

  .product-show-page {
    padding-top: 20vh;
  }

  .product-show-page img {
    display: flex;
    float: left;
    
  }

  .product-show-page h1 {
    display: flex;
    float: right;
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
    font-weight: 600;
  }

  .product-show-page h3 {
    display: flex;
    float: right;
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
    font-weight: 600;
  }

  .size-buttons {
    display: flex;
    flex-wrap: wrap;
    width: 350px;
    height: 220px;
    float: right;
    
    padding: 10px;
    margin: 10px;
  }

  
  .size-buttons button {
    /* display: flex; */
    margin: 2px;
    height: 50px;
    width: 65px;
    border: #dcd8d8 solid 1px;
    border-radius: 5px;
    font-family: 'Roboto', sans-serif;
    font-size: 15px;
    cursor: pointer;
    background-color: white;
  }
  
  .size-buttons p {
    display: flex;
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
    font-weight: 600;
    margin: 10px;
    height: fit-content;
  }
  .size-buttons button:hover {
    border: #111  solid 1px;
  }
  
  .add-favorite-show-page-buttons button {
    
      float: right;
      background-color: #111;
      color: #fff;
      border-radius: 20px;
      margin: 10px;
      padding: 10px;
      font-family: 'Roboto', sans-serif;
      font-size: 20px;
      font-weight: 600;
      cursor: pointer;

  }
  

  .add-favorite-show-page-buttons button:hover {
    background-color: #757575;
    color: #ffffff;
  }

  .favorite-button {
    background-color: white;
    border: #CACACA solid 1px;
  }

  .nike-video-container {
    display: flex;
    justify-content: center;
    top: 0;
    left: 0;
    max-width: 100%;
    height: 100%;
    overflow: hidden;
    z-index: -1;
    margin: 20px;
  }
  
  .nike-video-container video {
    width: auto;
    height: auto;
  }

  .category-buttons {
    display: flex;
    justify-content: center;
    margin-left: 400px;
    /* make buttons as wide as the text inside */
  }

  
  
  .category-button {
    display: flex;
    margin: 10px;
    padding: 10px;
    font-family: 'Roboto', sans-serif;
    background: transparent;
    font-size: 15px;
    font-weight: 500;
    letter-spacing: 0.08em;
    border: none;
    width: fit-content;
    height: fit-content;
  }

  .category-button:hover {
    cursor: pointer;
    color: #ffffff;
    color: #111;
    border-bottom: 2px solid #111;
  }