.search-results {
  display: flex;
  margin: 20px;
  justify-content: flex-start;
}

.search-results-controls {
  display: flex;
  flex-direction: column;
  margin-right: 20px;
  padding: 15px;
  /* border-right: black solid 1px; */
  /* Add a light background color for distinction */
  width: 300px; /* Set a fixed width for the controls */
}
.sort-options,
.category-options,
.product-type-options {
  margin-bottom: 20px;
}

.category-options label,
.product-type-options label {
  display: block;
  margin-bottom: 5px;
}

.category-options input[type="radio"],
.product-type-options input[type="radio"] {
  margin-right: 5px;
}

.search-results-items {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
  width: calc(100% - 320px); /* Subtract the width of the controls and margin */
}


.product-type-options p {
  font-family: "Roboto", sans-serif;
}

.search-results h1, label, p, select, option {
  font-family: "Roboto", sans-serif;
}