#bag-header {
    font-family: 'Roboto', sans-serif;
    font-size: 22px;
    
  }

  .cart-index {
    display: flex;
    flex-direction: column;
    flex-grow: 2;
    min-height: 300px;
    padding: 20px;
    box-sizing: border-box;
    width: calc(100% * 2 / 3);
  }
  

  .cart-total {
    display: block;
    width:  300px;
    height: 400px;
    /* border: 1px solid #CACACA; */
    border-radius: 5px;
    /* margin-right: 200px; */
    padding: 20px;
  }

.cart-total h1 {
    font-family: 'Roboto', sans-serif;
    font-size: 28px;
    margin-bottom: 5px;
}

.cart-total h2 {
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
    margin-bottom: 5px;
}

.cart-total h3 {
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    margin-bottom: 5px;
}

.cart-total h4 {
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    margin-bottom: 5px;
}

.cart-total h5 {
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    margin-bottom: 5px;
}

.cart-total h6 {
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    margin-bottom: 20px;
}


#checkout-items {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: fit-content;
    font-family: "Helvetica Neue";
    border-radius: 5px;
    padding: 20px;
  }
  
  #checkout-item {
    width: 100%;
  }

  #breakline-cart {
    height: 1px;
    margin: 5px;
    margin-top: 20px;
    margin-bottom: 20px;
    width: 100%;
    background-color: #CACACA;
  }

  .checkout-button {
    display: flex;
    background-color: #111;
    color: #fff;
    border-radius: 50px;
    justify-content: center;
    padding: 20px;
    height: 65px;
    width: 375px;
    margin-left: 10px;
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    cursor: pointer;
  }

  .cart-container {
    display: flex;
    padding: 20px;
    margin-left: 13vw;
    margin-right: 13vw;
  }
  