.cart-total {
    display: flex;
    float: right;
    width: 400px;
    height: 400px;
    background-color: #F5F5F5;
    border: 1px solid #CACACA;
    border-radius: 5px;
    margin: 20px;
    padding: 20px;
    justify-content: center;
}